@import '../styles/theme.css';

/* Accordion Basics */

.accordion-title {
  width: 704px;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  color: var(--primary-dark);
  transition: background 0.2s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.accordion-text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.accordion-subtitle {
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--theme-grey);
}

.accordion-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 0.9rem;
  color: var(--primary-dark);
}

.accordion-arrow.open {
  transform: rotate(90deg);
}

.accordion-item.open .accordion-title {
  background: var(--primary-lightest);
  color: var(--primary-dark);
  border-radius: 4px;
}

.accordion-content {
  padding: 0.75rem 0.5rem 1.5rem 0;
  color: var(--theme-black);
  font-size: 1rem;
  overflow: hidden;
}

.accordion-content ul li {
  margin-bottom: 0.5rem;
}


/* Mobile View */
@media (max-width: 800px) {
  
  .accordion-title {
    width: 100%;
    font-size: 1rem;
  }

  .history {
    padding: 1rem;
  }

  .accordion {
    width: 100%;
  }

  .accordion-item {
    width: 100%;
  }
  
  .history-icons {
    padding-bottom: 0.3rem;
  }

}